<!DOCTYPE html>
<html>

<head>
    <link href="../styles/general.css" rel="stylesheet">
    <link href="../styles/changelog.css" rel="stylesheet">

    <script src="../js/frontend/general.js"></script>
    <script src="../js/frontend/changelog.js"></script>
</head>

<body>
    <div id="titlebar">
        <div>
            <img src="../assets/logo.png">
            <p>Cascy's Coding Adventure</p>
        </div>
        <div>
            <p id="title" i18n="settings.changelog">Changelog</p>
        </div>
        <div></div>
    </div>
    <div class="body">
        <div class="container" style="box-sizing: border-box;">
            <div class="head">
                <h2>What's New?</h2>
                <div class="flex" style="margin-left: auto; gap: 20px;">
                    <a class="flex" id="btn-bug" target="_blank" href="https://github.com/unordentlich/cascys-adventure/issues/new?assignees=&labels=bug&projects=&template=bug_report.md" style="filter: brightness(0.8);">
                        <img src="../assets/icons/bug.png" style="height: 17px; margin-right: 8px;">
                        <p>Report a bug</p>
                    </a>
                    <a class="flex" target="_blank" href="https://github.com/unordentlich/cascys-adventure/issues/new?assignees=&labels=enhancement&projects=&template=feature_request.md" id="btn-idea" style="filter: brightness(0.8);">
                        <img src="../assets/icons/light_bulb.png" style="height: 18px; margin-right: 5px;">
                        <p>Suggest an idea</p>
                    </a>
                    <div class="flex" id="btn-exit">
                        <img src="../assets/icons/leave.png">
                        <p>Exit</p>
                    </div>
                </div>
            </div>
            <div class="flex" style="overflow: hidden; height: 100%;">
                <div class="list" id="preview-list">

                </div>
                <div class="preview" id="preview">

                </div>
            </div>
        </div>
    </div>
</body>

</html>