<!DOCTYPE html>
<html>

<head>
    <link href="../styles/general.css" rel="stylesheet">
    <link href="../styles/changelog.css" rel="stylesheet">

    <script src="../js/frontend/general.js"></script>
    <script src="../js/frontend/changelog.js"></script>
</head>

<body>
    <div id="titlebar">
        <div>
            <img src="../assets/logo.png">
            <p>Cascy's Coding Adventure</p>
        </div>
        <div>
            <p id="title" i18n="settings.changelog">Changelog</p>
        </div>
        <div></div>
    </div>
    <div class="body">
        <div class="container" style="box-sizing: border-box;">
            <h2>What's New?</h2>
            <div class="flex" style="overflow: hidden;">
                <div class="list" id="preview-list">

                </div>
                <div class="preview">

                </div>
            </div>
        </div>
    </div>
</body>

</html>