<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/general.css" rel="stylesheet">
    <link href="../styles/level_editor.css" rel="stylesheet">

    <script src="../js/frontend/general.js"></script>
    <script src="../js/frontend/level_editor.js"></script>
    <script src="../js/frontend/projectLoader.js"></script>
    <script src="../js/frontend/level-editor/sprites.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('btn-rotate-p90').addEventListener('click', () => { rotateCurrentChunk(-90) });
            document.getElementById('btn-rotate-m90').addEventListener('click', () => { rotateCurrentChunk(90) });
        })
    </script>
</head>

<body>
    <div id="titlebar">
        <div>
            <img src="../assets/logo.png">
            <p>Cascy's Coding Adventure</p>
        </div>
        <div>
            <p id="title">Level Editor</p>
        </div>
        <div></div>
    </div>
    <div class="body">
        <div class="menu-bar">
            <input placeholder="Level Name" value="My special Level">
            <div class="flex" id="btn-exit">
                <img src="../assets/icons/leave.png">
                <p>Exit</p>
            </div>
        </div>
        <div class="flex">
            <div class="flex-pane" style="position: relative; user-select: none;">
                <canvas id="map-layer">
                </canvas>
                <canvas id="collision-layer">
                </canvas>
                <div class="buttons">
                    <button id="center-btn">
                        Center
                    </button>
                    <button id="tool-collision">
                        <img src="../assets/icons/collision.png">
                    </button>
                </div>
                <div class="prompt" id="collision-prompt" style="display: none;">
                    <p>Collision</p>
                    <div style="display: flex; gap: 5px; height: 100%;">
                        <button class="cancel-btn">Cancel</button>
                        <button class="confirm-btn">Create</button>
                    </div>
                </div>
                <div class="prompt" id="collision-deletion-prompt" style="display: none;">
                    <p>Collision</p>
                    <div style="display: flex; gap: 5px; height: 100%;">
                        <button class="cancel-btn">Delete</button>
                    </div>
                </div>
            </div>
            <div class="flex-pane" style="padding: 20px;">
                <div class="dual">
                    <div class="field">
                        <label class="key">ID:</label>
                        <input placeholder="0" id="inp-chunk-id" disabled="true">
                    </div>
                    <div class="field">
                        <label class="key">Tile:</label>
                        <div style="position: relative;">
                            <input placeholder="none" id="inp-chunk-tile" disabled="true">
                            <img id="tile-preview">
                        </div>
                    </div>
                </div>
                <div class="dual">
                    <div class="field">
                        <label class="key">X:</label>
                        <input placeholder="0" id="inp-chunk-x" disabled="true">
                    </div>
                    <div class="field">
                        <label class="key">Y:</label>
                        <input placeholder="0" id="inp-chunk-y" disabled="true">
                    </div>
                </div>
                <div class="dual">
                    <div class="field">
                        <label class="key">Height:</label>
                        <input placeholder="64" id="inp-chunk-height" disabled="true">
                    </div>
                    <div class="field">
                        <label class="key">Width:</label>
                        <input placeholder="64" id="inp-chunk-width" disabled="true">
                    </div>
                </div>
                <div class="dual">
                    <div class="field">
                        <label class="key">Rotation:</label>
                        <div style="position: relative;">
                            <input placeholder="0°" id="inp-chunk-rotation" disabled="true">
                            <div class="input-integrated-buttons">
                                <button id="btn-rotate-p90">↶</button>
                                <button id="btn-rotate-m90">↷</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: auto;">
                    <label class="key">Tileset:</label>
                    <div class="tileset" id="available-tiles">
                    </div>
                </div>
                <div style="margin-top: 5px;">
                    <label class="key">Layer:</label>
                    <div class="layer-options">
                        <div>
                            <input type="checkbox" id="map-layer-input" checked="true">
                            <label for="map-layer-input">Map</label>
                        </div>
                        <div>
                            <input type="checkbox" id="collision-layer-input" checked="true">
                            <label for="collision-layer-input">Collision</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-pane">
                <button id="btn-save-project">Save current Project</button>
                <button id="btn-load-project">Load Project</button>
            </div>
        </div>
    </div>
</body>

</html>