<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/general.css" rel="stylesheet">
    <link href="../styles/level_editor.css" rel="stylesheet">

    <script src="../js/frontend/level_editor.js"></script>
</head>

<body>
    <div id="titlebar">
        <div>
            <img src="../assets/logo.png">
            <p>Cascy's Coding Adventure</p>
        </div>
        <div>
            <p id="title">Level Editor</p>
        </div>
        <div></div>
    </div>
    <div class="body">
        <div class="menu-bar">
            <input placeholder="Level Name" value="My special Level">
            <div class="flex" id="btn-exit">
                <img src="../assets/icons/leave.png">
                <p>Exit</p>
            </div>
        </div>
        <div class="flex">
            <div class="flex-pane">
                <canvas id="map">
                </canvas>
                <div class="buttons">
                    <button id="center-btn">
                        Center
                    </button>
                </div>
            </div>
            <div class="flex-pane" style="padding: 20px;">
                <div class="dual">
                    <div class="field">
                        <label class="key">ID:</label>
                        <input placeholder="1920">
                    </div>
                    <div class="field">
                        <label class="key">Created:</label>
                        <input placeholder="Now">
                    </div>
                </div>
                <div class="field">
                    <label class="key">Created:</label>
                    <input placeholder="Now">
                </div>
            </div>
            <div class="flex-pane">

            </div>
        </div>
    </div>
</body>

</html>