<!DOCTYPE html>
<html>

<head>
    <link href="../styles/general.css" rel="stylesheet">
    <link href="../styles/level.css" rel="stylesheet">

    <script src="../js/frontend/general.js"></script>
    <script src="../js/frontend/level.js"></script>
    <script src="../js/frontend/soundManager.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {

        })
    </script>
</head>

<body>
    <div class="vignette"></div>
    <div id="titlebar">
        <div></div>
    </div>
    <div class="body">
        <div class="loading-screen">
            <p>Level loading...</p>
        </div>
        <div class="ui">
            <div class="top_left">
                <p data-id="level-number"></p>
                <p data-id="level"></p>
            </div>
        </div>
        <div id="map">
            <div id="player"></div>
        </div>
    </div>
</body>

</html>