<!DOCTYPE html>
<html>

<head>
    <link href="../styles/general.css" rel="stylesheet">
    <link href="../styles/level.css" rel="stylesheet">

    <script src="../js/frontend/general.js"></script>
    <script src="../js/frontend/level.js"></script>
    <script src="../js/frontend/soundManager.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {

        })
    </script>
</head>

<body>
    <div id="titlebar">
        <div></div>
    </div>
    <div class="body">
        <div class="loading-screen">
            <p>Level loading...</p>
        </div>
        <div id="map">
            
        </div>
    </div>
</body>

</html>