<!DOCTYPE html>
<html>

<head>
    <link href="../styles/general.css" rel="stylesheet">
    <link href="../styles/main_menu.css" rel="stylesheet">

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("btn-level-creator").addEventListener("click", () => {
                window.electronAPI.switchPage('views/level_editor.html');
            });
            document.getElementById("btn-settings").addEventListener("click" , () => {
                window.electronAPI.switchPage('views/settings.html');
            });
        })
    </script>
</head>

<body>
    <div id="titlebar">
        <div>
            <img src="../assets/logo.png">
            <p>Cascy's Coding Adventure</p>
        </div>
        <div>
            <p id="title">Main Menu</p>
        </div>
        <div></div>
    </div>
    <div class="body">
        <div class="title-section">
            <h3>Cascy's Coding Adventure</h3>
            <p>Embark on a journey through the depths of web design and become a pro with CSS!</p>
        </div>

        <div class="level-selection-container">
            <div id="cascy-sneak"><img src="../assets/characters/cascy/default.png"></div>
            <div class="level-selection-carousel">
                <div class="level-container">
                    <div class="preview">
                        <img src="https://i.ytimg.com/vi/60zpPbY1DLA/maxresdefault.jpg">
                    </div>
                    <div class="information">
                        <p>Level 0</p>
                        <h5>Tutorial</h5>
                    </div>
                </div>
                <div class="level-container locked">
                    <div class="preview">
                        <img src="../assets/icons/lock.png" class="lock">
                        <img src="https://i.ytimg.com/vi/60zpPbY1DLA/maxresdefault.jpg">
                    </div>
                    <div class="information">
                        <p>Level 0</p>
                        <h5>Tutorial</h5>
                    </div>
                </div>
                <div class="level-container locked">
                    <div class="preview">
                        <img src="../assets/icons/lock.png" class="lock">
                        <img src="https://i.ytimg.com/vi/60zpPbY1DLA/maxresdefault.jpg">
                    </div>
                    <div class="information">
                        <p>Level 0</p>
                        <h5>Tutorial</h5>
                    </div>
                </div>
                <div class="level-container locked">
                    <div class="preview">
                        <img src="../assets/icons/lock.png" class="lock">
                        <img src="https://i.ytimg.com/vi/60zpPbY1DLA/maxresdefault.jpg">
                    </div>
                    <div class="information">
                        <p>Level 0</p>
                        <h5>Tutorial</h5>
                    </div>
                </div>
                <div class="level-container locked">
                    <div class="preview">
                        <img src="../assets/icons/lock.png" class="lock">
                        <img src="https://i.ytimg.com/vi/60zpPbY1DLA/maxresdefault.jpg">
                    </div>
                    <div class="information">
                        <p>Level 0</p>
                        <h5>Tutorial</h5>
                    </div>
                </div>
                <div class="level-container locked">
                    <div class="preview">
                        <img src="../assets/icons/lock.png" class="lock">
                        <img src="https://i.ytimg.com/vi/60zpPbY1DLA/maxresdefault.jpg">
                    </div>
                    <div class="information">
                        <p>Level 0</p>
                        <h5>Tutorial</h5>
                    </div>
                </div>
            </div>
            <div style="margin-left: auto; display: flex;">
                <button class="secondary-btn level-creator" id="btn-settings"><img src="../assets/icons/dredge.png">Settings</button>
                <button class="primary-btn level-creator" id="btn-level-creator"><img
                        src="../assets/icons/puzzle.png">Level Creator</button>
            </div>
        </div>
    </div>
</body>

</html>