<!DOCTYPE html>
<html>

<head>
    <link href="../styles/general.css" rel="stylesheet">
    <link href="../styles/main_menu.css" rel="stylesheet">

    <script src="../js/frontend/general.js"></script>
    <script src="../js/frontend/soundManager.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("btn-level-creator").addEventListener("click", () => {
                window.electronAPI.switchPage('views/level_editor.html');
            });
            document.getElementById("btn-settings").addEventListener("click", () => {
                window.electronAPI.switchPage('views/settings.html');
            });
            document.getElementById("btn-changelog").addEventListener("click", () => {
                window.electronAPI.switchPage('views/changelog.html');
            });
            document.getElementById("btn-leave").addEventListener("click", () => {
                document.getElementById("leave-confirmation-popup").style.display = 'block';
            });
            document.getElementById('btn-leave-popup-confirm').addEventListener("click", () => {
                //Maybe a more professional solution in the future required (with final save & shutdown logic)
                window.close();
            });
            document.getElementById('btn-leave-popup-cancel').addEventListener("click", () => {
                document.getElementById("leave-confirmation-popup").style.display = 'none';
            });
        });
    </script>
</head>

<body>
    <div id="titlebar">
        <div>
            <img src="../assets/logo.png">
            <p>Cascy's Coding Adventure</p>
        </div>
        <div>
            <p id="title">Main Menu</p>
        </div>
        <div></div>
    </div>
    <div class="body">
        <div class="title-section">
            <h3>Cascy's Coding Adventure</h3>
            <p i18n="main_menu.sub">Embark on a journey through the depths of web design and become a pro with CSS!</p>
        </div>

        <div class="level-selection-container">
            <div id="cascy-sneak"><img src="../assets/characters/cascy/default.png"></div>
            <div style="margin-left: auto; margin-bottom: 10px; display: flex;">
                <button class="primary-btn level-creator" id="btn-level-creator"><img
                        src="../assets/icons/puzzle.png"><span i18n="main_menu.buttons.level_creator">Level
                        Creator</span></button>
                <button class="secondary-btn level-creator" id="btn-changelog"><img
                        src="../assets/icons/dredge.png"><span
                        i18n="main_menu.buttons.changelog">Changelog</span></button>
                <button class="secondary-btn level-creator" id="btn-settings"><img
                        src="../assets/icons/dredge.png"><span
                        i18n="main_menu.buttons.settings">Settings</span></button>
                <button class="danger-btn level-creator" id="btn-leave"><img
                        src="../assets/icons/leave.png">Exit</button>
                <div id="leave-confirmation-popup">
                    <h5>Are you sure?</h5>
                    <p>You are about to leave! Cascy would be very upset..</p>
                    <div class="flex" style="gap: 5px; justify-content: flex-end;">
                        <button class="cancel-btn" id="btn-leave-popup-cancel">No</button>
                        <button class="confirm-btn" id="btn-leave-popup-confirm">Yes</button>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="level-selection-carousel">
                    <div class="level-container">
                        <div class="preview">
                            <img src="https://i.ytimg.com/vi/60zpPbY1DLA/maxresdefault.jpg">
                        </div>
                        <div class="information">
                            <p>Level 0</p>
                            <h5>Tutorial</h5>
                        </div>
                    </div>
                    <div class="level-container locked">
                        <div class="preview">
                            <img src="../assets/icons/lock.png" class="lock">
                            <img src="https://i.ytimg.com/vi/60zpPbY1DLA/maxresdefault.jpg">
                        </div>
                        <div class="information">
                            <p>Level 0</p>
                            <h5>Tutorial</h5>
                        </div>
                    </div>
                    <div class="level-container locked">
                        <div class="preview">
                            <img src="../assets/icons/lock.png" class="lock">
                            <img src="https://i.ytimg.com/vi/60zpPbY1DLA/maxresdefault.jpg">
                        </div>
                        <div class="information">
                            <p>Level 0</p>
                            <h5>Tutorial</h5>
                        </div>
                    </div>
                    <div class="level-container locked">
                        <div class="preview">
                            <img src="../assets/icons/lock.png" class="lock">
                            <img src="https://i.ytimg.com/vi/60zpPbY1DLA/maxresdefault.jpg">
                        </div>
                        <div class="information">
                            <p>Level 0</p>
                            <h5>Tutorial</h5>
                        </div>
                    </div>
                    <div class="level-container locked">
                        <div class="preview">
                            <img src="../assets/icons/lock.png" class="lock">
                            <img src="https://i.ytimg.com/vi/60zpPbY1DLA/maxresdefault.jpg">
                        </div>
                        <div class="information">
                            <p>Level 0</p>
                            <h5>Tutorial</h5>
                        </div>
                    </div>
                    <div class="level-container locked">
                        <div class="preview">
                            <img src="../assets/icons/lock.png" class="lock">
                            <img src="https://i.ytimg.com/vi/60zpPbY1DLA/maxresdefault.jpg">
                        </div>
                        <div class="information">
                            <p>Level 0</p>
                            <h5>Tutorial</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="decoration-front">
        <img src="../assets/images/tree.png" class="tree-left">
        <img src="../assets/images/tree.png" class="tree-right">
    </div>
</body>

</html>