<!DOCTYPE html>
<html>

<head>
    <link href="../styles/general.css" rel="stylesheet">
    <link href="../styles/settings.css" rel="stylesheet">

    <script src="../js/frontend/general.js"></script>
    <script src="../js/frontend/settings.js"></script>
</head>

<body>
    <div id="titlebar">
        <div>
            <img src="../assets/logo.png">
            <p>Cascy's Coding Adventure</p>
        </div>
        <div>
            <p id="title" i18n="settings.title">Settings</p>
        </div>
        <div></div>
    </div>
    <div class="body">
        <div class="container">
            <div class="head">
                <ul class="navigation">
                    <li onclick="switchTab('performance')" key="performance">Performance</li>
                    <li onclick="switchTab('audio')" key="audio">Audio</li>
                    <li onclick="switchTab('other')" key="other">Other</li>
                </ul>
                <div class="flex" id="btn-exit">
                    <img src="../assets/icons/leave.png">
                    <p>Exit</p>
                </div>
            </div>
            <div class="setting-list" id="performance">
                <div class="setting">
                    <p class="key">Language</p>
                    <div class="range-slider-container">
                        <select key="general.language" liveUpdate="true">

                        </select>
                    </div>
                </div>
                <div class="setting">
                    <p class="key">Quality</p>
                    <div class="range-slider-container">
                        <input type="range" min="1" max="3" key="performance.quality">
                        <div class="flex">
                            <p>Low</p>
                            <p>Medium</p>
                            <p>High</p>
                        </div>
                    </div>
                </div>
                <div class="setting">
                    <p class="key">Animations</p>
                    <div class="range-slider-container">
                        <input type="range" min="1" max="3" key="performance.animations">
                        <div class="flex">
                            <p>Low</p>
                            <p>Medium</p>
                            <p>High</p>
                        </div>
                    </div>
                </div>
                <div class="setting">
                    <p class="key">Window Mode</p>
                    <div class="range-slider-container">
                        <select key="performance.window_mode" liveUpdate="true">
                            <option value="1">Windowed</option>
                            <option value="2">Fullscreen</option>
                        </select>
                    </div>
                </div>
                <div class="setting">
                    <p class="key">Discord Rich Presence</p>
                    <div class="range-slider-container">
                        <input type="checkbox" key="general.discord_rpc" liveUpdate="true">
                        <span class="checkmark">
                            <img src="../assets/icons/checkmark.png">
                        </span>
                    </div>
                </div>
            </div>
            <div class="setting-list" id="audio">
                <div class="setting">
                    <p class="key">Master</p>
                    <div class="range-slider-container">
                        <input type="range" min="0" max="100" key="audio.master">
                        <div class="flex">
                            <p>0%</p>
                            <p>100%</p>
                        </div>
                    </div>
                </div>
                <div class="setting">
                    <p class="key">Music</p>
                    <div class="range-slider-container">
                        <input type="range" min="0" max="100" key="audio.music">
                        <div class="flex">
                            <p>0%</p>
                            <p>100%</p>
                        </div>
                    </div>
                </div>
                <div class="setting">
                    <p class="key">Menu Music</p>
                    <div class="range-slider-container">
                        <input type="range" min="0" max="100" key="audio.menu">
                        <div class="flex">
                            <p>0%</p>
                            <p>100%</p>
                        </div>
                    </div>
                </div>
                <div class="setting">
                    <p class="key">Sound Effects</p>
                    <div class="range-slider-container">
                        <input type="range" min="0" max="100" key="audio.fx">
                        <div class="flex">
                            <p>0%</p>
                            <p>100%</p>
                        </div>
                    </div>
                </div>
                <div class="setting">
                    <p class="key">Button Sounds</p>
                    <div class="range-slider-container">
                        <input type="checkbox" key="audio.button_sounds">
                        <span class="checkmark">
                            <img src="../assets/icons/checkmark.png">
                        </span>
                    </div>
                </div>
            </div>
            <div class="setting-list" id="other">
                <p>Do you <b>like Cascy's Coding Adventure</b>? I would love to get a star from you at <a
                        href="https://github.com/unordentlich/cascys-adventure" target="_blank">GitHub</a>!</p>
                <p>You have an <b>idea</b> for new features or levels? You want to give some <b>feedback</b>? It would
                    be awesome if you could take about 10 minutes to fill out a <a href="https://google.com"
                        target="_blank">feedback form</a>!</p>

                <p>Load and edit levels in the <a id="level-folder-btn"
                        href="#">level folder</a>!</p>
                <p style="margin-top: 50px; margin-bottom: 0;">Made with <img src="../assets/icons/heart.png"
                        height="10px"> in Germany</p>
                <p style="margin-top: 5px;">&copy; 2024 unordentlich</p>
                <p class="sub">This game is intended for private use. Publication of any kind, especially unsolicited by
                    third parties, is <b>NOT</b> intended and <b>NOT</b> permitted.</p>

                <div class="system-info">
                    <p>Version: v<span id="version"></span></p>
                </div>

                <div class="ads">
                    <div class="github-ad">
                        <div class="logo">
                            <img src="../assets/github.png">
                            <div class="star-container">
                                <img src="../assets/icons/star.png" class="star">
                                <p id="star-amount"></p>
                            </div>
                        </div>
                        <div>
                            <b>Familiar with bits and bytes? :)</b>
                            <p>Feel free to contribute to Cascy's Coding Adventure. Whether new levels, functions or
                                assets!</p>

                            <a href="https://github.com/unordentlich/cascys-adventure"
                                target="_blank">github.com/unordentlich/cascys-adventure</a>
                        </div>
                    </div>

                    <a class="hackclub-ad" href="https://hackclub.com/arcade" target="_blank">
                        <div>
                            <p>A project in the motivation of</p>
                            <img src="https://assets.hackclub.com/flag-standalone-wtransparent.svg">
                            <p>Arcade 2024 Event</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>