.container {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #35323d;
    position: relative;
    display: flex;
    flex-direction: column;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    min-width: 200px;
    border-radius: 10px;
    background-color: #242229;
    overflow-y: scroll;
}

.entry {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #3c3944;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.entry:hover {
    background-color: #524f5a;
}

.entry p {
    margin: 0;
}

.entry .sub {
    color: #ffffff50;
    font-size: 14px;
}

.primary {
    color: rgb(230, 199, 0) !important;
}

h2 {
    margin: 0;
}

#preview {
    padding: 10px 40px;
    box-sizing: border-box;
    display: none;
    animation: 100ms fadeIn forwards;
}

#preview h2 {
    font-size: 18px;
}

#preview code {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2a262f;
    padding: 6px;
    font-size: 10px;
    border-radius: 4px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.head a, p {
    margin: 0;
    text-decoration: none;
    color: white;
    align-items: center;
}

.head a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

#btn-exit p {
    margin: 0;
}

.new-label {
    background-color: rgb(255, 119, 119);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 2px 0 2px;
    margin: 0;
    border-radius: 3px;
    margin-right: 5px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1a181d;
    border-radius: 0 100px 100px 0;
}

::-webkit-scrollbar-thumb {
    background: #44424f;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5b586a;
}