@font-face {
    font-family: 'DPComic';
    src: url('../fonts/dpcomic.ttf');
}

body {
    background-color: #3e3b48;
    margin: 0;
    font-family: 'DPComic';
    color: white;
}

#titlebar {
    font-family: 'DPComic';
    height: 32px;
    width: 100%; /* Otherwise windows buttons would overlap */
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

#titlebar img {
    height: 25px;
    margin-right: 5px;
}

#titlebar div {
    display: flex;
    align-items: center;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.flex {
    display: flex;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}