body {
    overflow: hidden;
    height: 100%;
}

.body {
    height: 100%;
}

#titlebar {
    position: fixed;
}

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 263px rgb(52 52 52 / 90%) inset;
    z-index: 99;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

#player {
    position: absolute;
    background-image: url(../assets/characters/cascy/cutted.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    left: 350px;
    top: 350px;
    z-index: 80;
}

.loading-screen i {
    font-size: 14px;
    color: #ffffffab;
}

.loading-screen p {
    margin-bottom: 10px;
}

.ui {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    font-size: 20px;
    box-sizing: border-box;
    z-index: 100;
    user-select: none;
}

.ui p[data-id='level-number'] {
    margin-bottom: -15px;
}

.ui p[data-id='level'] {
    color: #ffffff70;
}

#map img {
    transform-origin: left top;
    scale: 0.6;
}


#player[state='idle'] {
    opacity: 0.5;
}

#player[state='moving'] {
    animation: bounce 0.5s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        margin-top: 0;
    }
    50% {
        margin-top: -10px;
    }
}