body {
    background-color: #101010;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#collision-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 25;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: rgb(16, 16, 16);
}

.menu-bar h3 {
    font-size: 15px;
}

input {
    background-color: rgb(32, 32, 32);
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(43, 43, 43);
    color: rgb(197, 197, 197);
    transition: 100ms all;
}

input:focus {
    outline: none;
    filter: brightness(1.5);
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.flex {
    flex: 1;
    gap: 10px;
}

.flex-pane {
    background-color: rgb(26, 26, 26);
    width: 100%;
    position: relative;
    border-radius: 10px;
    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.flex-pane:first-of-type {
    flex: 2;
    border-radius: 0 10px 0 0;
}

.flex-pane:last-of-type {
    border-radius: 10px 0 0 0;
}

canvas {
    display: block;
}

canvas:hover {
    animation: drag-me 2s infinite;
}

.buttons {
    position: absolute;
    bottom: 20px;
    margin: auto;
    z-index: 50;
    width: fit-content;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(22, 22, 22, 0.752);
    padding: 7px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

.buttons button {
    background-color: rgb(42, 42, 42);
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 500ms;
    display: flex;
    align-items: center;
    height: 35px;
    transition: 100ms;
}

.buttons button:hover {
    filter: brightness(1.2);
}

.buttons button img {
    height: 24px;
    filter: brightness(0.8);
}

.buttons button.toggle {
    background-color: white;
}

.buttons button.toggle img {
    filter: invert(1);
}

#center-btn {
    padding: 10px;
    background-color: rgb(249, 224, 96);
}

.field {
    display: flex;
    flex-direction: column;
}

label.key {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #8f8f8f;
}

.dual {
    display: flex;
    gap: 20px;
}

input[disabled='true'] {
    color: #8f8f8f;
}

.field.short {
    width: 100px;   
}

.input-integrated-buttons {
    position: absolute;
    top: 0;
    right: 3px;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 2px;
}

.input-integrated-buttons button {
    background-color: rgb(46, 46, 46);
    color: white;
    border-radius: 2px;
    border: 2px solid rgb(57, 57, 57);
    cursor: pointer;
    font-weight: 600;
}

.input-integrated-buttons button:hover {
    filter: brightness(1.2);
}

.tileset {
    display: grid;
    gap: 20px;
    width: 100%;
    grid-template-columns: auto auto auto auto auto;
}

.tileset img {
    width: 100%;
    border-radius: 5px;
    border: 3px solid rgb(43, 43, 43);
    cursor: pointer;
    background-color: rgba(56, 56, 56, 0.242);
}

.tileset img:hover {
    border-color: rgb(175, 175, 175);
}

.tileset img.selected {
    border-color: white;
}

#inp-chunk-tile {
    padding-left: 28px;
}

#tile-preview {
    background-color: rgb(88, 88, 88);
    position: absolute;
    top: 0;
    left: 7px;
    bottom: 0;
    margin: auto;
    height: 15px;
    width: 15px;
    border-radius: 4px;
}

@keyframes drag-me {
    0%, 100% {
        cursor: grab;
    }
    
    50% {
        cursor: grabbing;
    }
}