body {
    height: 100vh;
    background-color: #000;
    opacity: 0;

    animation: 4s bg forwards;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.title-section {
    margin-bottom: 80px;
}

.title-section h3 {
    text-align: center;
    font-size: 80px;
    margin: 0;
}

.title-section p {
    margin: 5px 0 0 0;
    text-align: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.599);
}

.level-selection-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;
    scroll-behavior: smooth;
}

.level-selection-carousel {
    border-radius: 20px;
    background-color: #2f2d35;
    padding: 20px;
    height: 300px;
    gap: 20px;

    overflow-x: scroll;
    display: flex;
}

.level-container {
    height: 100%;
    padding: 20px;
    min-width: 240px;
    border-radius: 20px;
    background-color: #53515b;
    box-sizing: border-box;
    cursor: pointer;

    transition: all 100ms;

}

.level-container:hover {
    transform: scale(1.05);
}

.level-container .preview {
    position: relative;
}

.level-container .preview img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
}

.level-container p,
h5 {
    margin: 0;
}

.level-container .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.level-container h5 {
    margin-top: 5px;
    font-size: 20px;
}

.level-container p {
    color: rgba(255, 255, 255, 0.599);
}

.level-container.locked:hover img.lock {
    animation: shake 1s;
}

.level-container.locked img.lock {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 99;

    width: 150px;
}

.level-container.locked img:last-of-type {
    filter: grayscale(1.0) brightness(50%);
}

#cascy-sneak {
    position: absolute;
    z-index: -1;

    /* style preps */
    top: -70px;
    right: 10px;
    rotate: 3deg;

    animation: 40s cascy-sneak infinite;
}

#cascy-sneak img {
    width: 150px;
}

.primary-btn {
    border-radius: 5px;
    padding: 8px 20px;
    outline: none;
    background-color: rgb(242, 223, 99);
    border: 3px solid rgb(255, 244, 185);
    font-family: 'DPComic';
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.secondary-btn {
    border-radius: 5px;
    padding: 8px 20px;
    outline: none;
    background-color: rgb(52, 52, 52);
    border: 3px solid rgb(67, 67, 67);
    color: white;
    font-family: 'DPComic';
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.level-creator {
    margin-left: 10px;
    margin-top: 20px;
}

.primary-btn:hover, .secondary-btn:hover {
    filter: brightness(1.2);
}

.level-creator img {
    width: 20px;
}


::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #1a181d;
    border-radius: 0 0 100px 100px;
}

::-webkit-scrollbar-thumb {
    background: #44424f;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5b586a;
}

@keyframes shake {
    0% {
        rotate: 0;
    }

    10% {
        rotate: -2deg;
    }

    20% {
        rotate: 2deg;
    }

    30% {
        rotate: -2deg;
    }

    40% {
        rotate: 2deg;
    }

    50% {
        rotate: 0;
    }
}

@keyframes cascy-sneak{
    0% {
        top: -70px;
    }
    
    19% {
        top: -70px;
    }

    20% {
        top: -80px;
    }

    21% {
        rotate: 3deg;
    }

    26% {
        rotate: -3deg;
    }

    31% {
        top: 10px;
    }

    35% {
        rotate: 3deg;
        top: 10px;
    }

    40% {
        top: -70px;
    }

    100% {
        top: -70px;
    }
}

@keyframes bg {
    80% {
        background-color: #3e3b48;
    }

    100% {
        background-color: #3e3b48;
        opacity: 1;
    }
}